<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Group 3 Assigment 2 Frontend</title>
</head>
<body>
    {% if is_alert =="1"%}
     <div class="alert alert-warning alert-dismissible">
       <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
       <strong>Warning!</strong> Pool size changed.
     </div>
     {% endif %}
    <div id="global_navbar"></div>
    <form name="submit_form" method="POST" onsubmit="return checkform()">
    <div class="form-group">
      <label for="image_name">Enter the key for the image you want to see: </label>
      <input class="form-control" type="text" id="image_name" aria-required="true" name="text"/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <img id="picture" class="img-fluid" src="data:image/{{ format }};base64,{{ img_data }}">

    <script>
    $(function(){
    $("#global_navbar").load("navbar");
    });

    function checkform() {
      if(document.getElementById("image_name").value == "" ) {
          alert("Please enter Image Key");
          return false;
      } else {
          document.submit_form.submit();
      }
    }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>